#p-form {
  border: 2px solid black;
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  width: min(500px, 90%);
  
}

#ttt{
  width: 350px ;
  height: 100px ;
}

.person {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

